<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Create a Post </title>
    <link rel="stylesheet" href="{% static 'default.css' %}">
</head>
<body class="center">
    <h1>Create a Post</h1>
    <form action="" method="POST">
        {% csrf_token %}
        Title: <input type="text" name="title" /><br />
        Content: <br />
        <textarea cols="35" rows="8" name="content">
        </textarea><br />
        <input type="submit" value="Post" />
    </form>
    <a href="/test/show">See Posts</a>
</body>
</html>